#map { width : 1000px; height : 600px; }

/*
.mapboxgl-popup {
    max-width: 200px;
  }
  
.mapboxgl-popup-content {
text-align: center;
font-family: 'Open Sans', sans-serif;
}*/


.Feu {
    background-image: url("../img/Feu.jpg");
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
}




.FEUTEST {
    background-image: url("../img/téléchargement.jfif");
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
}

.caserne {
    background-image: url('../img/caserne.jpg');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}