#map { width : 1000px; height : 600px; }

/*
.mapboxgl-popup {
    max-width: 200px;
  }
  
.mapboxgl-popup-content {
text-align: center;
font-family: 'Open Sans', sans-serif;
}*/

/*FeuA, FeuB_G, FeuB_A, FeuB_P, FeuC, FeuD, FeuE*/

.A {
    background-image: url("../img/FeuRouge.jfif");
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
}

.B_Gasoline {
    background-image: url("../img/FeuBleu.jfif");
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
}

.B_Alcohol {
    background-image: url("../img/FeuJaune.jfif");
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
}
.B_Plastics {
    background-image: url("../img/FeuNoir.jfif");
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
}
.C_Flammable_Gases {
    background-image: url("../img/FeuRainbow.jfif");
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
}
.D_Metals {
    background-image: url("../img/FeuVert.jfif");
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
}
.E_Electric {
    background-image: url("../img/FeuViolet.jfif");
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
}


.FEUTEST {
    background-image: url("../img/Feu.jpg");
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
}




.CAR {
    background-image: url("../img/CAR.jfif");
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
}



.caserne {
    background-image: url('../img/caserne.jpg');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}